.masthead
  .container
    %h1
      My Rad Site
    %p
      It's really rad people

.container.text-center
  = simple_form_for @prelaunch_subscriber, :url => prelaunch_path do |f|
    = f.input :email,
    = f.submit 'Add me to the list', class: 'btn'
